@font-face { font-family: Lato; src: url('../ressources/font/Lato-Regular.ttf'); } 
@font-face { font-family: Lato; font-weight: bold; src: url('../ressources/font/Lato-Bold.ttf');}
@font-face { font-family: Lato; font-weight: lighter; src: url('../ressources/font/Lato-Light.ttf');}

#navbar_all {
    background-color: #9EDEF3;
}
p, h1, h2, span, a, li {
    font-family: 'Lato';
    font-weight: bold;
}   

#plop {
    margin-left: 70;
    margin-right: 100;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.centering_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userTable{
    width: 35%;
    margin: 5rem auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; */
}

/*.search_div{}*/

.searchbar {
    border-radius: 8px;
    border-width: 1.5px;
    padding: 3px 32px 5px 18px;
    width: 220px;
}

.search_btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-left: -32px;
}

input[type="search"]::-webkit-clear-button {
    display: none;
}

.conteneur_form{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm{
    min-height: 40%;
    width: 30%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-top: 2rem;
}

#loginForm div{
    width: 90%;
    margin-bottom: 1.7rem;
    display: flex;
    justify-content: space-around;
}

.navbar{
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

/*
Pour override bootstrap
*/

.navbar-expand-lg #navbar_items_right {

}

/*
@media (min-width: 800px){
    #navbar_items_right{
        margin-left: 450px;
    }
}

@media  (min-width: 992px) {
    .nav-item {
        min-width: 120px;  A CHANGER QUAND ON AJOUTE UN MACHIN A LA NAVBAR 
    }
    #navbar_items_right {
        margin-left: 120px;  CA AUSSI 

    }
}

@media (min-width: 1170px){
    #navbar_items_right {
        margin-left: 300px;
    }
}

@media (min-width: 1280px){
    #navbar_items_right {
        margin-left: 420px;
    }
}

@media (min-width: 1430px){
    #navbar_items_right {
        margin-left: 620px;
    }
}
*/



/*
.nav_item_compressed{
    margin-right: -60;
    margin-left: -150;
}
*/
.navbar-brand {
    margin-bottom: 3.2px
}

.nav-link {
    font-size: 18.3px;
}

#search_profile {
    background-color: #ffffff00;
    border: none;
    font-weight: bold;
}

#create_profile {
    background-color: #ffffff00;
    border: none;
    font-weight: bold;
}

#creation_dropdown_modal {
    border-radius: 10px; 
    border: 2px solid black; 
    padding: 5px 13px; 
    align-items: center; 
    justify-content: center;
    position: absolute; 
    left: 797.925px; 
    top: 95px;
    display: none;
}


@media (min-width: 1170px){
    #creation_dropdown_modal {
        display: none;
    }
}

#client_carer_toggle {
    border-radius: 6px;
    margin-top: 3px
}

#client_list {
    margin-top: 40px;
    justify-content: space-evenly;
}

.search_result {
    border: 2px solid  black;
    margin-block: 30px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    font-size: 15px;
    border-radius: 5px;
    margin-inline: 1px;
    text-align: center;
}

.search_result_text {
    padding-block: 5px;
    margin-block: 1px;
}

#client_profile_link {
    background-color: #ffffff00;
    border: none;
    font-weight: bold;
}

.error_message {
    color: red;
    font-size: 18;
    margin-top: 30px;
    text-align: center;
}

#main_div{
    justify-content: center;
    text-align: center;
}

.missionCard {
    border: 1px solid black;
    border-radius:10px;
    width:300px;
    min-width:300px;
    margin: 40px 20px;
    padding:10px;
    text-align: center;
}

.missionCardAdresse {
    width:200px;
    display: inline-block;
}
.missionCardAdresse .p {
    margin:0;
}

.missionCardButton{
    width:50px;
    display:inline-block;
}

.missionCard .btn{
    text-align:right;
}

.row-missions {
    margin: 20px 30px;
}

.missionCardContributeur {
    font-size: 18px;
}
.missionCardHoraire{
    font-size: 18px;
}

.text-jours{
    font-size: 30px;
}


.div-cards{
    display:flex;
    justify-content: space-around;
}

.container-flex {
    display:flex;
}

.link-button {
    display: inline-block;
    font-weight: 600;
    margin-top: 33px;
    margin-bottom: 16px;
    color: white;
    background-color: #9EDEF3;
    border-color: #9EDEF3;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 5.5px 15px;
    border-radius: 7px;
    border: 2px solid #9EDEF3;  
     /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

.link-button:hover {
    color: white;
    background-color: #7ab6ca;
    border-color: #7eb9cc;
 }
  

.big_ass_card {
    border: 2px solid  black;
    margin-block: 30px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    font-size: 15px;
    border-radius: 5px;
    margin-inline: 1px;
    text-align: center;
    width: 50%;
    margin-inline: auto

}

.dash_card_text {
    padding-block: 5px;
    margin-block: 1px;
}

#short_text{
    height: 82px;
    text-align: left !important;
    margin-inline: 13px;
}

.dashboard_card {
    border: 2px solid  black;
    margin-block: 30px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    font-size: 15px;
    border-radius: 5px;
    margin-inline: 1px;
}

