@font-face { font-family: Lato; src: url('../ressources/font/Lato-Regular.ttf'); } 
@font-face { font-family: Lato; font-weight: bold; src: url('../ressources/font/Lato-Bold.ttf');}
@font-face { font-family: Lato; font-weight: lighter; src: url('../ressources/font/Lato-Light.ttf');}

#navbar_all {
    background-color: #9EDEF3;
}
p, h1, h2, span, a, li {
    font-family: 'Lato';
    font-weight: bold;
}   

#plop {
    margin-left: 70;
    margin-right: 100;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.centering_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userTable{
    width: 35%;
    margin: 5rem auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; */
}

/*.search_div{}*/

.searchbar {
    border-radius: 8px;
    border-width: 1.5px;
    padding: 3px 32px 5px 18px;
    width: 220px;
}

.search_btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-left: -32px;
}

input[type="search"]::-webkit-clear-button {
    display: none;
}

.conteneur_form{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm{
    min-height: 40%;
    width: 30%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-top: 2rem;
}

#loginForm div{
    width: 90%;
    margin-bottom: 1.7rem;
    display: flex;
    justify-content: space-around;
}

.navbar{
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

@media  (min-width: 992px) /*and (max-width: 1170px)*/{
    .nav-item {
        width: 150px;
    }
    #navbar_items_right {
        margin-left: 165px;
    }
}

@media (min-width: 1170px){
    #navbar_items_right {
        margin-left: 300px;
    }
}

@media (min-width: 1280px){
    #navbar_items_right {
        margin-left: 420px;
    }
}

@media (min-width: 1430px){
    #navbar_items_right {
        margin-left: 620px;
    }
}

/*
.nav_item_compressed{
    margin-right: -60;
    margin-left: -150;
}
*/
.navbar-brand {
    margin-bottom: 3.2px
}

.nav-link {
    font-size: 18.3px;
}

#search_profile {
    background-color: #ffffff00;
    border: none;
    font-weight: bold;
}

#search_div_modal {
    border-radius: 10px; 
    border: 2px solid black; 
    padding: 5px 13px; 
    align-items: center; 
    justify-content: center;
    position: absolute; 
    left: 797.925px; 
    top: 95px;
    display: none;
}


@media (min-width: 1170px){
    #search_div_modal {
        display: none;
    }
}